body {
  font-family: 'Montserrat', sans-serif;
  /* background-color: #e5e5e5; */
  margin: 0;
}

main {
  width: 1150px;
  height: 1399px;
  /* background-color: #f5f7fa;
  padding: 40px; */
  /* margin: 0 auto; */
}

.container {
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
  height: 100%;

  /* box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1); */
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

.list {
  list-style: none;
}

/* Main content section */

.main-content {
  flex-grow: 1;
  padding: 100px 90px;

  background-color: #fff;
}

.my-summary__title,
.my-projects__title,
.my-education__title,
.my-courses__title {
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  color: #000;
  margin-bottom: 10px;
}

.my-education {
  margin: 0 0 10px 0;
}

/* .my-education__title,
.my-courses__title {
  font-size: 22px;
  margin-bottom: 12px;
} */

.my-education__list {
  display: flex;
  flex-direction: column;
  gap: 15px;

  list-style: none;
}

.my-education__text,
.my-courses__text {
  font-size: 14px;
  margin-bottom: 12px;
}

/* About me section */

.about-me {
  margin: 0 0 40px 0;
}

.about-me__profession {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #000;
  margin-bottom: 20px;
}

.about-me__name {
  font-style: normal;
  font-weight: bold;
  font-size: 45px;
  line-height: 55px;
  color: #000;
  margin-bottom: 25px;
}
.my-summary {
  margin: 0 0 50px 0;
}

.my-summary__description {
  width: 550px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
}

/*My projects section */

.my-projects {
  margin: 0 0 50px 0;
}

.my-projects__list {
  padding: 0 0 0 18px;
}

.my-projects__item {
  color: #000;
  font-weight: bold;
}

.my-projects__link {
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #595959;

  transition: color 200ms;
}

.my-projects__link:hover,
.my-projects__link:focus {
  color: #fb6d3a;
}

.my-projects__point {
  color: #a8a8a8;
}

.my-projects__text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
  margin: 0 0 0 5px;
}

.my-projects__text li {
  width: 550px;
}

.my-projects__bracket {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  color: #000;
}

.my-projects__text-list {
  padding-left: 10px;
  list-style: none;
}

/* My work experience */

.my-work-experience__company {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  margin: 0 0 10px 0;
  color: #fb6d3a;
}

.my-work-experience__position {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  margin: 0 0 10px 0;
  color: #000;
}

.my-work-experience__period {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #a8a8a8;
}

.my-work-experience__divider {
  color: #000;
}

.my-work-experience__duties {
  padding: 0 0 0 18px;
}

.my-work-experience__duty {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
}

.my-work-experience {
  margin-bottom: 30px;
}

.main-content__title {
  font-size: 22px;
  margin-bottom: 15px;
}

.my-work-experience__company-block:not(:last-child) {
  margin-bottom: 20px;
}

/* .my-education__item:not(:last-child) {
  margin-bottom: 25px;
} */

.my-education {
  margin-bottom: 30px;
}
/* Saidebar section */

.saidebar {
  background-color: #1e2939;
  width: 370px;
  padding: 40px 0 40px 0;
}

.contacts,
.tech-skills,
.soft-skills,
.languages {
  margin: 50px 0 0 40px;
}

.contacts__title,
.tech-skills__title,
.soft-skills__title,
.languages__title {
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  color: #fff;
  margin-bottom: 10px;
}

/* Contacts section */

.contacts__thumb {
  display: flex;
  align-items: center;
  gap: 7px;
}

/* .contacts__type {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  color: #fff;
  margin-right: 7px;
} */

.contacts__icon {
  fill: white;
}

.contacts__link {
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #878d96;

  transition: color 200ms;
}

.contacts__link:hover,
.contacts__link:focus {
  color: #abb3c0;
}

.tech-skills__list,
.soft-skills__list,
.languages__list {
  padding: 0 0 0 20px;
}

.tech-skills__item,
.soft-skills__item,
.languages__item {
  color: #fb6d3a;
}

.tech-skills__item-text,
.soft-skills__item-text,
.languages__item-text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #fff;
}
